#contentContainer
  %section{:id => "content"}
    %article{:class => "textpage"}
      - content_for :page_title do
        Forgot password

      %h1
        Forgot your password?

      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!

        = f.label :email
        = f.email_field :email

        = f.submit "Send me reset password instructions"

      #formularAdditionalLinks
        = render :partial => "devise/shared/links"
