#cboxesContainer
  %section{:id => "cboxes"}
    %article{:class => "cbox"}
      .cboxImage
        - link_to page_clean_path({:id => "about_me"}) do
          .cboxTypeLabel
            Who I am
          = image_tag("/images/frontPage/teaserProfile.svg")
          %h3.cboxCaption
            %em
              Who the hell is that guy?
            Good question. Some data about myself.

    %article{:class => "cbox"}
      .cboxImage
        - link_to page_clean_path({:id => "about_this_website"}) do
          .cboxTypeLabel
            What this page is about
          = image_tag("/images/frontPage/teaserPage.svg")
          %h3.cboxCaption
            Some of my thoughts behind thst website. And some technical stuff.

    %article{:class => "cbox"}
      .cboxImage
        - link_to projects_path do
          .cboxTypeLabel
            What I'm working on
          = image_tag("/images/frontPage/teaserProjects.svg")
          %h3.cboxCaption
            Some of my projects. Most of them are web-applications.

    %article{:class => "cbox"}
      .cboxImage
        - link_to ("http://twitter.com/denschub", :target => "_blank") do
          .cboxTypeLabel
            @denschub on twitter
          = image_tag("/images/frontPage/teaserTwitter.svg")
          %h3.cboxCaption
            Some of my thoughts and ideas within 140 chars.

    %article{:class => "cbox"}
      .cboxImage
        - link_to ("https://pod.geraspora.de/people/12", :target => "_blank") do
          .cboxTypeLabel
            Me on diaspora
          = image_tag("/images/frontPage/teaserDiaspora.svg")
          %h3.cboxCaption
            As I am not using facebook, you can find me on diaspora.

    %article{:class => "cbox"}
      .cboxImage
        - link_to ("https://github.com/denschub", :target => "_blank") do
          .cboxTypeLabel
            Me on github
          = image_tag("/images/frontPage/teaserGithub.svg")
          %h3.cboxCaption
            My profile on github. You can find some of my projects there.

    .clear
