#cboxesContainer
  %section{:id => "cboxes"}
    %article{:class => "cbox"}
      .cboxImage
        = link_to page_clean_path({:id => "about_me"}) do
          .cboxTypeLabel
            Who I am
          = image_tag("frontPage/teaserProfile.svg")
          %h3.cboxCaption
            %em
              Who the hell is that guy?
            Good question. Some data about myself.

    %article{:class => "cbox"}
      .cboxImage
        = link_to blogposts_path() do
          .cboxTypeLabel
            What's new
          = image_tag("frontPage/teaserBlog.svg")
          %h3.cboxCaption
            My blog. Warning: May contain sarcasm and nerdiness.

    %article{:class => "cbox"}
      .cboxImage
        = link_to projects_path do
          .cboxTypeLabel
            What I'm working on
          = image_tag("frontPage/teaserProjects.svg")
          %h3.cboxCaption
            Some of my projects. Most of them are web-applications.

    %article{:class => "cbox"}
      .cboxImage
        = link_to("http://twitter.com/denschub", :target => "_blank") do
          .cboxTypeLabel
            @denschub on twitter
          = image_tag("frontPage/teaserTwitter.svg")
          %h3.cboxCaption
            Some of my thoughts and ideas within 140 chars.

    %article{:class => "cbox"}
      .cboxImage
        = link_to("https://pod.geraspora.de/people/12", :target => "_blank") do
          .cboxTypeLabel
            Me on diaspora
          = image_tag("frontPage/teaserDiaspora.svg")
          %h3.cboxCaption
            As I am not using facebook, you can find me on diaspora.

    %article{:class => "cbox"}
      .cboxImage
        = link_to("https://github.com/denschub", :target => "_blank") do
          .cboxTypeLabel
            Me on github
          = image_tag("frontPage/teaserGithub.svg")
          %h3.cboxCaption
            My profile on github. You can find some of my projects there.

    .clear
