- content_for :page_title do
  Projects

#cboxesContainer
  %section{:id => "cboxes"}
    - @projects.each do |project|
      %article{:class => "cbox"}
        .cboxImage
          = link_to project do
            .cboxTypeLabel
              = project.title
              %span.cboxTypeRight
                = project.category
            = image_tag(project.teaser_image)
            %h3.cboxCaption
              = project.short_description

    .clear