#projectContainer
  %section{:id => "project"}
    %section{:id => "projectContent"}
      %article{:class => "textpage"}
        - content_for :page_title do
          = ["Project: ", @project.title].join
        = format(@project.description)
    %section{:id => "projectSidebar"}
      %article{:class => "textpage"}
        = image_tag(@project.teaser_image, :class => "projectTeaser")
        %h3= @project.title
        %p= @project.short_description

        - if @project.source_link
          %h3 Source
          = form_source_link(@project.source_link)
    .clear
