- content_for :page_title do
  Sign in

%h1
  Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :email
    = f.email_field :email

    = f.label :password
    = f.password_field :password

    .checkboxRow
      = f.check_box :remember_me
      = f.label :remember_me

    = f.submit "Sign in"

#formularAdditionalLinks
  = render :partial => "devise/shared/links"
