#blogboxesContainer
  %section{:id => "blogboxes"}
    %section{:id => "blogposts"}
      - @blogposts.each do |blogpost|
        %article{:class => "blogbox"}
          .blogboxHeadline
            %h2
              = link_to blogpost.title, blogpost_path(blogpost)
          .blogboxIntro
            = format(blogpost.content)
          .blogboxInfo
            .date
              = blogpost.created_at
            .comments
              = pluralize(blogpost.blogpost_comments.count, "Comment")
            .tags
              - sort_tags(blogpost.tags).each do |tag|
                = link_to ["#", tag], blogtag_path(tag)
    %section{:id => "blogsidebar"}
      - if user_signed_in?
        #adminLinks
          = link_to image_tag("/images/icons/raw/icon-new.svg", {:size => "24x24"}), new_blogpost_path, {:title => "New"}
      %nav{:id => "blogtags"}
        %h3
          Tags
        %ul
          - sort_tags(@tags).each do |tag|
            %li
              = link_to tag, blogtag_path(tag)
      %nav{:id => "blogroll"}
        %h3
          Blogs I enjoy
        %ul
          %li
            = link_to "Aww Blog 1", "#"
          %li
            = link_to "Nice Guy 1", "#"
  .clear
- content_for :page_pagination do
  = will_paginate @blogposts
