#blogboxesContainer
  %section{:id => "blogboxes"}
    %section{:id => "blogposts"}
      - @blogposts.each do |blogpost|
        %article{:class => "blogbox"}
          .blogboxHeadline
            %h1.blogarticleHeadline
              = link_to blogpost.title, blogpost_path(blogpost)
            .date
              = blogpost.created_at
          .blogboxIntro
            = format(blogpost.content)
          .blogboxInfo
            .tags
              - sort_tags(blogpost.tags).each do |tag|
                = link_to ["#", tag].join, blogtag_path(tag)
            .comments
              = link_to pluralize(blogpost.blogpost_comments.count, "Comment"), blogpost_path(blogpost, :anchor => "blogcommentsContainer")
            .flattrthis
              = link_to image_tag("flattr-badge-large.png"), blogpost, {:title => blogpost.title, :rel => "Privacy: The first click will load the flattr-button. So you have to click twice."}
    %section{:id => "blogsidebar"}
      %nav{:id => "blogtags"}
        %h3
          Tags
        %ul
          - sort_tags(@tags).each do |tag|
            %li
              = link_to tag, blogtag_path(tag)
      %nav{:id => "blogfeeds"}
        %h3
          Feeds
        %ul
          %li
            = link_to "Blog articles", blog_feed_path(:format => "atom")
          %li
            = link_to "Blog comments", blog_comments_feed_path(:format => "atom")

      -# %nav{:id => "blogroll"}
        %h3
          Blogs I enjoy
        %ul
          %li
            = link_to "Aww Blog 1", "#"
          %li
            = link_to "Nice Guy 1", "#"
  .clear
- content_for :page_pagination do
  = paginate @blogposts
