#blogboxesContainer
  %section{:id => "blogboxes"}
    %section{:id => "blogposts"}
      %article{:class => "blogbox"}
        .blogboxHeadline
          %h2
            = link_to "#" do
              This is a hyper awesome blog-box.
        .blogboxIntro
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
        .blogboxInfo
          .date
            2077-07-07 17:17
          .comments
            42 comments
          .tags
            foo, bar, ding
      %article{:class => "blogbox"}
        .blogboxHeadline
          %h2
            = link_to "#" do
              This is another hyper awesome blog-box.
        .blogboxIntro
          %p
            Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam
            voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
        .blogboxInfo
          .date
            2077-07-07 17:17
          .comments
            42 comments
          .tags
            foo, bar, ding

    %section{:id => "blogsidebar"}
      %nav{:id => "blogtags"}
        %h3
          Tags
        %ul
          %li
            = link_to "Foo", "#"
          %li
            = link_to "Bar", "#"
          %li
            = link_to "Ding", "#" 
      %nav{:id => "blogpopular"}
        %h3
          Popular posts
        %ul
          %li
            = link_to "Awesome Post", "#"
          %li
            = link_to "Awesome Post 2", "#"
          %li
            = link_to "Awesome Post 3", "#"
      %nav{:id => "blogroll"}
        %h3
          Blogs I enjoy
        %ul
          %li
            = link_to "Aww Blog 1", "#"
          %li
            = link_to "Nice Guy 1", "#"
  .clear
