#contentContainer
  %section{:id => "content"}
    %article{:class => "textpage blogpost"}
      - content_for :page_title do
        = @blogpost.title
      - if user_signed_in?
        #adminLinks
          = link_to image_tag("/images/icons/raw/icon-new.svg", {:size => "24x24"}), new_blogpost_path, {:title => "New"}
          = link_to image_tag("/images/icons/raw/icon-edit.svg", {:size => "24x24"}), edit_blogpost_path(@blogpost), {:title => "Edit"}
          = link_to image_tag("/images/icons/raw/icon-delete.svg", {:size => "24x24"}), @blogpost, {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"}
      %h1
        = @blogpost.title
      = format(@blogpost.content)
      .blogboxInfo
        .date
          = @blogpost.created_at
        .comments
          = pluralize(@blogpost.blogpost_comments.count, "Comment")
        .tags
          - sort_tags(@blogpost.tags).each do |tag|
            = link_to ["#", tag], blogtag_path(tag)

      #blogcommentsContainer
        %h2
          Comments
        - if @blogpost.blogpost_comments.empty?
          %h3
            No comments yet. :(
        - @blogpost.blogpost_comments.each do |comment|
          - unless comment.created_at.nil?
            .blogcommentBox
              - if user_signed_in?
                #adminLinks
                  = link_to image_tag("/images/icons/raw/icon-mail.svg", {:size => "24x24"}), "mailto:" + comment.email, {:title => "Write an email"}
                  = link_to image_tag("/images/icons/raw/icon-delete.svg", {:size => "24x24"}), [@blogpost, comment], {:confirm => 'Are you sure?', :method => :delete, :title => "Delete"}
              .commentAuthorImage
                = image_tag gravatar_url(comment.email)
              .commentboxRight
                .commentInfo
                  .commentAuthor
                    = comment.author
                  .commentDate
                    = comment.created_at
                .commentContent
                  = comment_format(comment.content)


      #blogcommentform
        %h2
          New Comment
        .blogcommentForm
          = form_for([@blogpost, @blogpost_comment], :url => blogpost_blogpost_comments_path(@blogpost, @blogpost_comment, :anchor => "blogcommentform")) do |f|
            - if @blogpost_comment.errors.any?
              %p
                Something went wrong:
              %ul
                - @blogpost_comment.errors.each do |field, error|
                  %li
                    = error
            = f.label :author, "Your name"
            = f.text_field :author

            = f.label :email, "Your email-address. I'll store it secret, trust me."
            = f.text_field :email

            = f.label :content, "Your comment"
            = f.text_area :content

            = f.label :antispam, "Please write 'Elephant' backwards. Just to protect myself from spam."
            = f.text_field :antispam
            = f.hidden_field :correct_antispam, :value => "Donkey"

            = f.submit "Submit"
