!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'description', :content => 'Dennis Schuberts personal website with a blog, projects and some other stuff'}
    %meta{:name => 'author', :content => 'Dennis Schubert'}
    %title
      = page_title yield(:page_title)
    = include_stylesheets :default, :media => 'all'
    = include_javascripts :default
    = csrf_meta_tag
  %body
    #mainContainer
      #main
        #headerContainer
          #header
            #headerTitleContainer
              %h1{:id => 'siteName'}
                = link_to "Dennis Schubert", root_path
              %h2{:id => 'siteSlogan'}
                blog, projects and nerdiness
            #headerSocialContainer
              #headerSocial
                = link_to image_tag("/images/icons/raw/icon-twitter.svg", :size => "48x48"), "http://twitter.com/denschub", {:target => "_blank", :class => "twitterIcon", :title => "@denschub on twitter"}
                = link_to image_tag("/images/icons/raw/icon-diaspora.svg", :size => "48x48"), "https://pod.geraspora.de/people/12", {:target => "_blank", :class => "diasporaIcon", :title => "Dennis Schubert on Diaspora"}
                = link_to image_tag("/images/icons/raw/icon-rss.svg", :size => "48x48"), "http://twitter.com/statuses/user_timeline/29749577.rss", {:target => "_blank", :class => "rssIcon", :title => "Twitter-RSS feed"}
        #navBarContainer
          %nav{:id => "navBar"}
            #navBarLeft
              %ul
                %li
                  = link_to "Home", root_path
                  |
                %li
                  = link_to "About me", page_clean_path({:id => "about_me"})
                  |
                %li
                  = link_to "Projects", projects_path
            -#
              #navBarRight
                %form{:method => "post", :action => "#", :id => "magicbar"}
                  %div
                    %div{:id => "mbTermIcon"}
                    %input{:type => "text", :name => "searchphrase", :id => "mbTerm"}
                    %input{:type => "submit", :value => "Suchen", :id => "mbSubmit"}
        = yield
        #paginationContainer
          %nav{:id => "pagination"}
            &nbsp;
        #footerContainer
          %footer{:id => "footer"}
            %section{:id => "footboxLeft", :class => "footerBox"}
              %nav{:id => "footerNavigation"}
                %ul
                  %li
                    = link_to "Home", root_path
                  %li
                    = link_to "About me", page_clean_path({:id => "about_me"})
                  %li
                    = link_to "Projects", projects_path
                  %li
                    = link_to "About this website", page_clean_path({:id => "about_this_website"})
                  %li
                    = link_to "Imprint", page_clean_path({:id => "imprint"})
                  - if user_signed_in?
                    %li
                      = link_to 'Sign out', destroy_user_session_path, :method => :delete
            %section{:id => "footboxCenter", :class => "footerBox"}
              %p
                17 years young nerd with a social life. User and developer of
                = link_to "open source-software.", "http://github.com/denschub", {:target => "_blank"}
                Developing a decentral social network,
                = link_to "Diaspora.", "http://github.com/diaspora/diaspora", {:target => "_blank"}
                And I love web-development.
            %section{:id => "footboxRight", :class => "footerBox"}
              %div
                = link_to image_tag("/images/icons/raw/cc-icon-cc.svg", :size => "30x30"), "http://creativecommons.org/licenses/by-sa/3.0/deed.de", {:target => "_blank", :title => "The content is licensed under a Creative Commons-license"}
                = link_to image_tag("/images/icons/raw/cc-icon-by.svg", :size => "30x30"), "http://creativecommons.org/licenses/by-sa/3.0/deed.de", {:target => "_blank", :title => "The content can be reused with attribution"}
                = link_to image_tag("/images/icons/raw/cc-icon-sa.svg", :size => "30x30"), "http://creativecommons.org/licenses/by-sa/3.0/deed.de", {:target => "_blank", :title => "The content can be shared under the same or similar license"}
    :plain
      <!-- Piwik -->
      <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.dennis-schubert.de/" : "http://piwik.dennis-schubert.de/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script><script type="text/javascript">
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
      </script><noscript><p><img src="http://piwik.dennis-schubert.de/piwik.php?idsite=1&rec=1" style="border:0" alt="" /></p></noscript>
      <!-- End Piwik Tracking Code -->
